$primary: #65cd00;
$deep-green: #5fbb03;
$dark-grey: rgb(34, 34, 34);
$light-grey: rgb(112, 112, 112);
$lighter-grey: rgb(220, 220, 220);
$pale-blue: #019299;
$lightest-blue:rgb(180, 251, 255);
$lighter-blue: rgb(219, 251, 255);
$light: #fff;