.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px ;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.br-b {
    border-bottom: 1px solid $lighter-grey;
}